body{
    margin: 2px;
    background-color: #ffffea;
}
.banniere {
    margin: 0 0 1% 5%;
}
.titre{
    margin-top: 1%;
}
.justify-content-end {
    position: absolute;
    top: 2%;
    right: 10%;
    list-style-type: none;
}
.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
li.nav-item {
    padding: 1%;
}
ul.navbar {
    padding: 0 0 1% 0;
}
#présentation {
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    top: 45%;
    z-index: 1;
    color: white;
    font-size: xx-large;
    font-family: cursive;
}