body{
    margin: 2px;
    background-color: #ffffea;
}

.banniere {
    margin: 0 0 15px 100px;
}

.titre{
    margin-top: 1%;
}

.justify-content-end {
    position: absolute;
    top: 17px;
    right: 45px;
    list-style-type: none;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

li.nav-item {
    padding: 1%;
    text-decoration:none;
}

ul.navbar {
    padding: 0 0 10px 0;
}

.affiche {
    height: 1200px; /* 100% de la hauteur de la fenêtre de navigation */
    width: 800px; /* 100% de la largeur de la fenêtre de navigation */
    position: relative;
}

#présentation {
    margin: 0 50px;
    position: absolute;
    top: 45%;
    z-index: 1;
    color: white;
    font-size: xx-large;
    font-family: cursive;
}